{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>My App</title>

    <!-- <link rel='icon' type='image/png' href="{% static 'favicon.png' %}"> -->
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body class="w-full md:max-w-4xl mx-auto mb-4 font-lato bg-white">
    <main">
        {% block content %}
        {% endblock %}
    </main>
    {% csrf_token %}
</body>
</html>